<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
	<!-- wp:template-part {"slug":"header","theme":"casaluna-block-theme","area":"header","align":"full"} /-->

	<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"blockGap":"0","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
	<main class="wp-block-group alignfull" style="margin-top:0;margin-bottom:0">
		<!-- wp:group {"align":"full","style":{"spacing":{"blockGap":"0","padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
		<div class="wp-block-group alignfull"
			style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
			<!-- wp:group {"align":"full","style":{"spacing":{"blockGap":"0"},"dimensions":{"minHeight":"700px"}},"className":"hero-slider hero-section","layout":{"type":"constrained"}} -->
			<div class="wp-block-group alignfull hero-slider hero-section" style="min-height:700px">
				<!-- wp:cover {"useFeaturedImage":true,"dimRatio":70,"overlayColor":"secondary","minHeight":800,"contentPosition":"center center","isDark":false,"align":"full","style":{"spacing":{"blockGap":"var:preset|spacing|30","padding":{"right":"0","left":"0"}}},"layout":{"type":"constrained"}} -->
				<div class="wp-block-cover alignfull is-light" style="padding-right:0;padding-left:0;min-height:800px"><span
						aria-hidden="true"
						class="wp-block-cover__background has-secondary-background-color has-background-dim-70 has-background-dim"></span>
					<div class="wp-block-cover__inner-container">
						<!-- wp:group {"align":"full","style":{"spacing":{"blockGap":"var:preset|spacing|50","padding":{"right":"var:preset|spacing|80","left":"var:preset|spacing|80"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
						<div class="wp-block-group alignfull"
							style="margin-top:0;margin-bottom:0;padding-right:var(--wp--preset--spacing--80);padding-left:var(--wp--preset--spacing--80)">
							<!-- wp:heading {"textAlign":"center","align":"wide","style":{"typography":{"fontStyle":"normal","fontWeight":"700","lineHeight":1.4,"textTransform":"uppercase"}},"textColor":"bright","fontSize":"xx-large","fontFamily":"Oswald"} -->
							<h2
								class="wp-block-heading alignwide has-text-align-center has-bright-color has-text-color has-oswald-font-family has-xx-large-font-size"
								style="font-style:normal;font-weight:700;line-height:1.4;text-transform:uppercase">welcome</h2>
							<!-- /wp:heading -->

							<!-- wp:paragraph {"align":"center","textColor":"bright","fontFamily":"open-sans"} -->
							<p class="has-text-align-center has-bright-color has-text-color has-open-sans-font-family">Escape to the
								enchanting village of Yelapa and discover the hidden gem that is Casa Luna. Nestled along the pristine
								coastline of Jalisco, our retreat invites you to experience the perfect blend of tranquility, natural
								beauty, and authentic Mexican hospitality.</p>
							<!-- /wp:paragraph -->

							<!-- wp:spacer {"height":"52px"} -->
							<div style="height:52px" aria-hidden="true" class="wp-block-spacer"></div>
							<!-- /wp:spacer -->
						</div>
						<!-- /wp:group -->
					</div>
				</div>
				<!-- /wp:cover -->
			</div>
			<!-- /wp:group -->

			<!-- wp:group {"align":"full","style":{"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"},"blockGap":"0","padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30","right":"var:preset|spacing|30"}}},"layout":{"type":"constrained"}} -->
			<div class="wp-block-group alignfull"
				style="margin-top:var(--wp--preset--spacing--50);margin-bottom:var(--wp--preset--spacing--50);padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
				<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"bottom":"0","top":"0"},"blockGap":"var:preset|spacing|30","margin":{"bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
				<div class="wp-block-group alignwide"
					style="margin-bottom:var(--wp--preset--spacing--60);padding-top:0;padding-bottom:0">
					<!-- wp:paragraph {"fontSize":"small"} -->
					<p class="has-small-font-size">Waking up to the view of Yelapa Bay from <strong>Casa Luna</strong> is simply
						divine! This uniquely-built two-story casita is ideal for a spiritual retreat, romance, or just some
						peaceful relaxation.</p>
					<!-- /wp:paragraph -->

					<!-- wp:paragraph {"fontSize":"small"} -->
					<p class="has-small-font-size">The upper level has a hanging queen-size bed, a small private living room, a
						half-bath and a hammock fit
						for two. The main floor has a stationary queen-sized bed, a twin bed/couch, a palapa-roofed bathroom and a
						full kitchen that includes a four-burner stove, a refrigerator, a coffee maker and a blender. The high
						ceiling and skylight in the kitchen create a feeling of openness and light which abound throughout Casa
						Luna.</p>
					<!-- /wp:paragraph -->

					<!-- wp:paragraph {"fontSize":"small"} -->
					<p class="has-small-font-size">All our casita comes stocked with linens, towels and dishes for your comfort
						and a lock-box for your
						valuables.</p>
					<!-- /wp:paragraph -->
				</div>
				<!-- /wp:group -->

				<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
				<div class="wp-block-group alignfull"
					style="padding-top:0;padding-right:var(--wp--preset--spacing--50);padding-bottom:0;padding-left:var(--wp--preset--spacing--50)">
					<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"}}},"layout":{"type":"constrained"}} -->
					<div class="wp-block-group alignwide"
						style="padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
						<!-- wp:columns {"align":"wide"} -->
						<div class="wp-block-columns alignwide"><!-- wp:column -->
							<div class="wp-block-column">
								<!-- wp:group {"style":{"spacing":{"blockGap":"0"},"border":{"width":"0px","style":"none","radius":"10px"}},"backgroundColor":"primary","layout":{"type":"constrained"}} -->
								<div class="wp-block-group has-primary-background-color has-background"
									style="border-style:none;border-width:0px;border-radius:10px">
									<!-- wp:group {"layout":{"type":"constrained"}} -->
									<div class="wp-block-group">
										<!-- wp:image {"id":1860,"aspectRatio":"16/9","scale":"cover","sizeSlug":"full","linkDestination":"none","style":{"border":{"radius":{"topLeft":"10px","topRight":"10px"}}}} -->
										<figure class="wp-block-image size-full has-custom-border"><img
												src="https://casalunayelapa.blackbirdstaging.com/wp-content/uploads/2024/01/luna-2.jpg"
												alt="View of Yelapa Cove from Casa Luna" class="wp-image-1860"
												style="border-top-left-radius:10px;border-top-right-radius:10px;aspect-ratio:16/9;object-fit:cover" />
										</figure>
										<!-- /wp:image -->
									</div>
									<!-- /wp:group -->

									<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50","top":"var:preset|spacing|30","bottom":"var:preset|spacing|60"},"blockGap":"var:preset|spacing|20"}},"layout":{"type":"constrained"}} -->
									<div class="wp-block-group"
										style="padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--50)">
										<!-- wp:heading {"textAlign":"center","textColor":"bright"} -->
										<h2 class="wp-block-heading has-text-align-center has-bright-color has-text-color">Amenities</h2>
										<!-- /wp:heading -->

										<!-- wp:list {"style":{"elements":{"link":{"color":{"text":"var:preset|color|bright"}}}},"textColor":"bright"} -->
										<ul class="has-bright-color has-text-color has-link-color"><!-- wp:list-item -->
											<li><strong>Beds:</strong>&nbsp;2 queens and one twin/couch</li>
											<!-- /wp:list-item -->

											<!-- wp:list-item -->
											<li>&nbsp;<strong>Baths:</strong>&nbsp;One with shower downstairs, plus half-bath upstairs</li>
											<!-- /wp:list-item -->

											<!-- wp:list-item -->
											<li>&nbsp;<strong>Kitchen:</strong>&nbsp;four-burner stove and three-quarter size refrigerator
											</li>
											<!-- /wp:list-item -->

											<!-- wp:list-item -->
											<li>&nbsp;<strong>Lockbox:</strong>&nbsp;to store your valuables</li>
											<!-- /wp:list-item -->

											<!-- wp:list-item -->
											<li>&nbsp;<strong>Maximum Occupancy:</strong>&nbsp;Five</li>
											<!-- /wp:list-item -->

											<!-- wp:list-item -->
											<li>&nbsp;<strong><em>Three night minimum</em></strong></li>
											<!-- /wp:list-item -->
										</ul>
										<!-- /wp:list -->
									</div>
									<!-- /wp:group -->
								</div>
								<!-- /wp:group -->
							</div>
							<!-- /wp:column -->

							<!-- wp:column -->
							<div class="wp-block-column">
								<!-- wp:group {"style":{"spacing":{"blockGap":"0"},"border":{"width":"0px","style":"none","radius":"10px"}},"backgroundColor":"primary","layout":{"type":"constrained"}} -->
								<div class="wp-block-group has-primary-background-color has-background"
									style="border-style:none;border-width:0px;border-radius:10px">
									<!-- wp:group {"layout":{"type":"constrained"}} -->
									<div class="wp-block-group">
										<!-- wp:image {"id":1869,"aspectRatio":"16/9","scale":"cover","sizeSlug":"full","linkDestination":"none","style":{"border":{"radius":{"topLeft":"10px","topRight":"10px"}}}} -->
										<figure class="wp-block-image size-full has-custom-border"><img
												src="https://casalunayelapa.blackbirdstaging.com/wp-content/uploads/2024/01/luna-11.jpg" alt="View from Casa Luna"
												class="wp-image-1869"
												style="border-top-left-radius:10px;border-top-right-radius:10px;aspect-ratio:16/9;object-fit:cover" />
										</figure>
										<!-- /wp:image -->
									</div>
									<!-- /wp:group -->

									<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50","top":"var:preset|spacing|30","bottom":"var:preset|spacing|60"},"blockGap":"var:preset|spacing|20"}},"layout":{"type":"constrained"}} -->
									<div class="wp-block-group"
										style="padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--50)">
										<!-- wp:heading {"textAlign":"center","textColor":"bright"} -->
										<h2 class="wp-block-heading has-text-align-center has-bright-color has-text-color">Rates (USD)</h2>
										<!-- /wp:heading -->

										<!-- wp:columns -->
										<div class="wp-block-columns"><!-- wp:column -->
											<div class="wp-block-column">
												<!-- wp:heading {"textAlign":"center","level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|bright"}}}},"textColor":"bright"} -->
												<h3
													class="wp-block-heading has-text-align-center has-bright-color has-text-color has-link-color">
													High season</h3>
												<!-- /wp:heading -->

												<!-- wp:paragraph {"align":"center","style":{"spacing":{"margin":{"top":"0"}},"elements":{"link":{"color":{"text":"var:preset|color|bright"}}}},"textColor":"bright"} -->
												<p class="has-text-align-center has-bright-color has-text-color has-link-color"
													style="margin-top:0">Oct. -- May</p>
												<!-- /wp:paragraph -->

												<!-- wp:list {"style":{"elements":{"link":{"color":{"text":"var:preset|color|bright"}}}},"textColor":"bright"} -->
												<ul class="has-bright-color has-text-color has-link-color"><!-- wp:list-item -->
													<li><strong>Nightly:</strong>&nbsp;$145</li>
													<!-- /wp:list-item -->

													<!-- wp:list-item -->
													<li><strong>Weekly:</strong>&nbsp;$950</li>
													<!-- /wp:list-item -->

													<!-- wp:list-item -->
													<li><strong>Monthly:</strong>&nbsp;$3,500</li>
													<!-- /wp:list-item -->
												</ul>
												<!-- /wp:list -->
											</div>
											<!-- /wp:column -->

											<!-- wp:column -->
											<div class="wp-block-column">
												<!-- wp:heading {"textAlign":"center","level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|bright"}}}},"textColor":"bright"} -->
												<h3
													class="wp-block-heading has-text-align-center has-bright-color has-text-color has-link-color">
													Low season</h3>
												<!-- /wp:heading -->

												<!-- wp:paragraph {"align":"center","style":{"spacing":{"margin":{"top":"0"}},"elements":{"link":{"color":{"text":"var:preset|color|bright"}}}},"textColor":"bright"} -->
												<p class="has-text-align-center has-bright-color has-text-color has-link-color"
													style="margin-top:0">June -- Sept.</p>
												<!-- /wp:paragraph -->

												<!-- wp:list {"style":{"elements":{"link":{"color":{"text":"var:preset|color|bright"}}}},"textColor":"bright"} -->
												<ul class="has-bright-color has-text-color has-link-color"><!-- wp:list-item -->
													<li><strong>Nightly:</strong>&nbsp;$125</li>
													<!-- /wp:list-item -->
												</ul>
												<!-- /wp:list -->
											</div>
											<!-- /wp:column -->
										</div>
										<!-- /wp:columns -->
									</div>
									<!-- /wp:group -->
								</div>
								<!-- /wp:group -->
							</div>
							<!-- /wp:column -->
						</div>
						<!-- /wp:columns -->
					</div>
					<!-- /wp:group -->
				</div>
				<!-- /wp:group -->
			</div>
			<!-- /wp:group -->

			<!-- wp:group {"align":"full","style":{"spacing":{"margin":{"top":"var:preset|spacing|70","bottom":"0"},"padding":{"top":"var:preset|spacing|30","bottom":"0"}}},"layout":{"type":"constrained"}} -->
			<div class="wp-block-group alignfull"
				style="margin-top:var(--wp--preset--spacing--70);margin-bottom:0;padding-top:var(--wp--preset--spacing--30);padding-bottom:0">
				<!-- wp:cover {"url":"https://casalunayelapa.blackbirdstaging.com/wp-content/uploads/2024/01/casa-luna.jpg","id":1838,"hasParallax":true,"dimRatio":40,"overlayColor":"black","align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}}}} -->
				<div class="wp-block-cover alignfull has-parallax"
					style="padding-top:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--40)">
					<span aria-hidden="true"
						class="wp-block-cover__background has-black-background-color has-background-dim-40 has-background-dim"></span>
					<div role="img" class="wp-block-cover__image-background wp-image-1838 has-parallax"
						style="background-position:50% 50%;background-image:url(https://casalunayelapa.blackbirdstaging.com/wp-content/uploads/2024/01/casa-luna.jpg)">
					</div>
					<div class="wp-block-cover__inner-container">
						<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"}}},"className":"travelero-align","layout":{"type":"constrained"}} -->
						<div class="wp-block-group alignfull travelero-align"
							style="padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
							<!-- wp:columns {"align":"wide"} -->
							<div class="wp-block-columns alignwide">
								<!-- wp:column {"verticalAlignment":"center","width":"33.33%","className":"get-started-align"} -->
								<div class="wp-block-column is-vertically-aligned-center get-started-align" style="flex-basis:33.33%">
									<!-- wp:paragraph -->
									<p><strong>Come experience the magic of Yelapa at Casa Luna – where every moment is a celebration of
											life, love, and the beauty that surrounds us. Book your stay today and embark on a journey of
											relaxation, adventure, and unforgettable memories.</strong></p>
									<!-- /wp:paragraph -->

									<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"left"}} -->
									<div class="wp-block-buttons"><!-- wp:button {"style":{"border":{"radius":"10px"}}} -->
										<div class="wp-block-button"><a class="wp-block-button__link wp-element-button"
												href="mailto:info@yelapafun.com?subject=Reservation Inquiry" style="border-radius:10px">Contact
												us</a></div>
										<!-- /wp:button -->
									</div>
									<!-- /wp:buttons -->
								</div>
								<!-- /wp:column -->

								<!-- wp:column {"verticalAlignment":"center","width":"66.66%"} -->
								<div class="wp-block-column is-vertically-aligned-center" style="flex-basis:66.66%">
									<!-- wp:heading {"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"bright","fontSize":"x-large","fontFamily":"Oswald"} -->
									<h2
										class="wp-block-heading has-bright-color has-text-color has-oswald-font-family has-x-large-font-size"
										style="font-style:normal;font-weight:600">Come visit!</h2>
									<!-- /wp:heading -->

									<!-- wp:html -->
									<div class="cal-wrap">
										<iframe
											src="https://calendar.google.com/calendar/embed?src=01o095pr9mlel8b4elqh4pe7hc%40group.calendar.google.com&amp;ctz=America%2FLos_Angeles"
											style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
									</div>
									<!-- /wp:html -->
								</div>
								<!-- /wp:column -->
							</div>
							<!-- /wp:columns -->
						</div>
						<!-- /wp:group -->
					</div>
				</div>
				<!-- /wp:cover -->
			</div>
			<!-- /wp:group -->

			<!-- wp:group {"layout":{"type":"constrained"}} -->
			<div class="wp-block-group">
				<!-- wp:heading {"textAlign":"center","style":{"spacing":{"margin":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}}} -->
				<h2 class="wp-block-heading has-text-align-center"
					style="margin-top:var(--wp--preset--spacing--30);margin-bottom:var(--wp--preset--spacing--30)">Take a video
					tour of Casa Luna</h2>
				<!-- /wp:heading -->

				<!-- wp:embed {"url":"https://youtu.be/TQLwUEtAw6Q?si=CxEYitpfy0dExTe-","type":"video","providerNameSlug":"youtube","responsive":true,"align":"wide","className":"wp-embed-aspect-16-9 wp-has-aspect-ratio"} -->
				<figure
					class="wp-block-embed alignwide is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio">
					<div class="wp-block-embed__wrapper">
						https://youtu.be/TQLwUEtAw6Q?si=CxEYitpfy0dExTe-
					</div>
				</figure>
				<!-- /wp:embed -->
			</div>
			<!-- /wp:group -->

			<!-- wp:group {"layout":{"type":"constrained"}} -->
			<div class="wp-block-group"><!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
				<div class="wp-block-group alignwide"><!-- wp:heading {"textAlign":"center"} -->
					<h2 class="wp-block-heading has-text-align-center">Photo Gallery</h2>
					<!-- /wp:heading -->

					<!-- wp:gallery {"columns":3,"linkTo":"none","align":"center"} -->
					<figure class="wp-block-gallery aligncenter has-nested-images columns-3 is-cropped">
						<!-- wp:image {"lightbox":{"enabled":true},"id":1870,"sizeSlug":"large","linkDestination":"none"} -->
						<figure class="wp-block-image size-large"><img
								src="https://casalunayelapa.blackbirdstaging.com/wp-content/uploads/2024/01/luna-12.jpg" alt="Casa Luna entrace approach"
								class="wp-image-1870" />
							<figcaption class="wp-element-caption">Entrance approach</figcaption>
						</figure>
						<!-- /wp:image -->

						<!-- wp:image {"lightbox":{"enabled":true},"id":1871,"sizeSlug":"large","linkDestination":"none"} -->
						<figure class="wp-block-image size-large"><img
								src="https://casalunayelapa.blackbirdstaging.com/wp-content/uploads/2024/01/luna-13.jpg" alt="Casa Luna entry"
								class="wp-image-1871" />
							<figcaption class="wp-element-caption">Casa Luna entry</figcaption>
						</figure>
						<!-- /wp:image -->

						<!-- wp:image {"lightbox":{"enabled":true},"id":1845,"sizeSlug":"large","linkDestination":"none"} -->
						<figure class="wp-block-image size-large"><img
								src="https://casalunayelapa.blackbirdstaging.com/wp-content/uploads/2024/01/20191212_131311-1024x768.jpg"
								alt="Casa Luna downstairs living area" class="wp-image-1845" />
							<figcaption class="wp-element-caption">Downstairs living area</figcaption>
						</figure>
						<!-- /wp:image -->

						<!-- wp:image {"lightbox":{"enabled":true},"id":1864,"sizeSlug":"large","linkDestination":"none"} -->
						<figure class="wp-block-image size-large"><img
								src="https://casalunayelapa.blackbirdstaging.com/wp-content/uploads/2024/01/luna-6.jpg"
								alt="Casa Luna downstairs living area with kitchen" class="wp-image-1864" />
							<figcaption class="wp-element-caption">Downstairs living area with kitchen</figcaption>
						</figure>
						<!-- /wp:image -->

						<!-- wp:image {"lightbox":{"enabled":true},"id":1846,"sizeSlug":"large","linkDestination":"none"} -->
						<figure class="wp-block-image size-large"><img
								src="https://casalunayelapa.blackbirdstaging.com/wp-content/uploads/2024/01/20191212_131648-1024x768.jpg"
								alt="Casa Luna downstairs kitchen" class="wp-image-1846" />
							<figcaption class="wp-element-caption">Downstairs kitchen</figcaption>
						</figure>
						<!-- /wp:image -->

						<!-- wp:image {"lightbox":{"enabled":true},"id":1847,"sizeSlug":"large","linkDestination":"none"} -->
						<figure class="wp-block-image size-large"><img
								src="https://casalunayelapa.blackbirdstaging.com/wp-content/uploads/2024/01/20191212_131656-1024x768.jpg"
								alt="Casa Luna kitchen, looking out" class="wp-image-1847" />
							<figcaption class="wp-element-caption">Kitchen, looking out</figcaption>
						</figure>
						<!-- /wp:image -->

						<!-- wp:image {"lightbox":{"enabled":true},"id":1865,"sizeSlug":"large","linkDestination":"none"} -->
						<figure class="wp-block-image size-large"><img
								src="https://casalunayelapa.blackbirdstaging.com/wp-content/uploads/2024/01/luna-7.jpg"
								alt="Casa Luna kitchen and dining area" class="wp-image-1865" />
							<figcaption class="wp-element-caption">Kitchen and dining area</figcaption>
						</figure>
						<!-- /wp:image -->

						<!-- wp:image {"lightbox":{"enabled":true},"id":1872,"sizeSlug":"large","linkDestination":"none"} -->
						<figure class="wp-block-image size-large"><img
								src="https://casalunayelapa.blackbirdstaging.com/wp-content/uploads/2024/01/luna-14.jpg" alt="Casa Luna bathroom and shower"
								class="wp-image-1872" />
							<figcaption class="wp-element-caption">Bathroom and shower</figcaption>
						</figure>
						<!-- /wp:image -->

						<!-- wp:image {"lightbox":{"enabled":true},"id":1874,"sizeSlug":"large","linkDestination":"none"} -->
						<figure class="wp-block-image size-large"><img
								src="https://casalunayelapa.blackbirdstaging.com/wp-content/uploads/2024/01/luna-16.jpg" alt="Casa Luna downstairs bed"
								class="wp-image-1874" />
							<figcaption class="wp-element-caption">Downstairs bed</figcaption>
						</figure>
						<!-- /wp:image -->

						<!-- wp:image {"lightbox":{"enabled":true},"id":1863,"sizeSlug":"large","linkDestination":"none"} -->
						<figure class="wp-block-image size-large"><img
								src="https://casalunayelapa.blackbirdstaging.com/wp-content/uploads/2024/01/luna-5.jpg"
								alt="Casa Luna downstairs living area with bed" class="wp-image-1863" />
							<figcaption class="wp-element-caption">Downstairs living area with bed</figcaption>
						</figure>
						<!-- /wp:image -->

						<!-- wp:image {"lightbox":{"enabled":true},"id":1873,"sizeSlug":"large","linkDestination":"none"} -->
						<figure class="wp-block-image size-large"><img
								src="https://casalunayelapa.blackbirdstaging.com/wp-content/uploads/2024/01/luna-15.jpg" alt="" class="wp-image-1873" />
							<figcaption class="wp-element-caption">Bathroom sink</figcaption>
						</figure>
						<!-- /wp:image -->

						<!-- wp:image {"lightbox":{"enabled":true},"id":1866,"sizeSlug":"large","linkDestination":"none"} -->
						<figure class="wp-block-image size-large"><img
								src="https://casalunayelapa.blackbirdstaging.com/wp-content/uploads/2024/01/luna-8.jpg" alt="Casa Luna stairs to second floor"
								class="wp-image-1866" />
							<figcaption class="wp-element-caption">Stairs to second floor</figcaption>
						</figure>
						<!-- /wp:image -->

						<!-- wp:image {"lightbox":{"enabled":true},"id":1860,"sizeSlug":"large","linkDestination":"none"} -->
						<figure class="wp-block-image size-large"><img
								src="https://casalunayelapa.blackbirdstaging.com/wp-content/uploads/2024/01/luna-2.jpg"
								alt="View of Yelapa Cove from Casa Luna" class="wp-image-1860" />
							<figcaption class="wp-element-caption">Upstairs bedroom</figcaption>
						</figure>
						<!-- /wp:image -->

						<!-- wp:image {"lightbox":{"enabled":true},"id":1861,"sizeSlug":"large","linkDestination":"none"} -->
						<figure class="wp-block-image size-large"><img
								src="https://casalunayelapa.blackbirdstaging.com/wp-content/uploads/2024/01/luna-3.jpg" alt="Casa Luna upstairs bed"
								class="wp-image-1861" />
							<figcaption class="wp-element-caption">Upstairs bed</figcaption>
						</figure>
						<!-- /wp:image -->

						<!-- wp:image {"lightbox":{"enabled":true},"id":1867,"sizeSlug":"large","linkDestination":"none"} -->
						<figure class="wp-block-image size-large"><img
								src="https://casalunayelapa.blackbirdstaging.com/wp-content/uploads/2024/01/luna-9.jpg"
								alt="Casa Luna upstairs living area with bed" class="wp-image-1867" />
							<figcaption class="wp-element-caption">Upstairs living area with bed</figcaption>
						</figure>
						<!-- /wp:image -->

						<!-- wp:image {"lightbox":{"enabled":true},"id":1875,"sizeSlug":"large","linkDestination":"none"} -->
						<figure class="wp-block-image size-large"><img
								src="https://casalunayelapa.blackbirdstaging.com/wp-content/uploads/2024/01/upstairs-1024x768.jpg"
								alt="Casa Luna upstairs living area" class="wp-image-1875" />
							<figcaption class="wp-element-caption">Upstairs living area</figcaption>
						</figure>
						<!-- /wp:image -->

						<!-- wp:image {"lightbox":{"enabled":true},"id":1876,"sizeSlug":"large","linkDestination":"none"} -->
						<figure class="wp-block-image size-large"><img
								src="https://casalunayelapa.blackbirdstaging.com/wp-content/uploads/2024/01/upstairs-balcony-1024x768.jpg"
								alt="Casa Luna view from upstairs living area" class="wp-image-1876" />
							<figcaption class="wp-element-caption">View from upstairs living area</figcaption>
						</figure>
						<!-- /wp:image -->

						<!-- wp:image {"lightbox":{"enabled":true},"id":1843,"sizeSlug":"large","linkDestination":"none"} -->
						<figure class="wp-block-image size-large"><img
								src="https://casalunayelapa.blackbirdstaging.com/wp-content/uploads/2024/01/20191212_130819-768x1024.jpg"
								alt="Casa Luna upstairs bathroom entrance" class="wp-image-1843" />
							<figcaption class="wp-element-caption">Upstairs bathroom entry</figcaption>
						</figure>
						<!-- /wp:image -->

						<!-- wp:image {"lightbox":{"enabled":true},"id":1842,"sizeSlug":"large","linkDestination":"none"} -->
						<figure class="wp-block-image size-large"><img
								src="https://casalunayelapa.blackbirdstaging.com/wp-content/uploads/2024/01/20191212_130810-768x1024.jpg"
								alt="Casa Luna upstairs bathroom entry" class="wp-image-1842" />
							<figcaption class="wp-element-caption">Upstairs bathroom entry</figcaption>
						</figure>
						<!-- /wp:image -->

						<!-- wp:image {"lightbox":{"enabled":true},"id":1848,"sizeSlug":"large","linkDestination":"none"} -->
						<figure class="wp-block-image size-large"><img
								src="https://casalunayelapa.blackbirdstaging.com/wp-content/uploads/2024/01/20191212_131836-768x1024.jpg"
								alt="Casa Luna upstairs bathroom mirror" class="wp-image-1848" />
							<figcaption class="wp-element-caption">Upstairs bathroom mirror</figcaption>
						</figure>
						<!-- /wp:image -->

						<!-- wp:image {"lightbox":{"enabled":true},"id":1849,"sizeSlug":"large","linkDestination":"none"} -->
						<figure class="wp-block-image size-large"><img
								src="https://casalunayelapa.blackbirdstaging.com/wp-content/uploads/2024/01/20191212_131843-768x1024.jpg"
								alt="Casa Luna upstairs bathroom sink" class="wp-image-1849" />
							<figcaption class="wp-element-caption">Upstairs bathroom sink</figcaption>
						</figure>
						<!-- /wp:image -->
					</figure>
					<!-- /wp:gallery -->
				</div>
				<!-- /wp:group -->
			</div>
			<!-- /wp:group -->
			<!-- wp:block {"ref":2116} /-->
		</div>
		<!-- /wp:group -->
	</main>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"footer","theme":"casaluna-block-theme","area":"footer","align":"full"} /-->
</div>
<!-- /wp:group -->
