/*
 * Travelero styles
 */

.page-not-found .error-page{
	 margin-right: 0px !important;
     margin-left: 0px !important;
}


@media only screen and (max-width:600px){
	.is-position-sticky{
	position:static;
}

}

@media only screen and (max-width:500px){

	.travelero-align{
		margin: auto 5px !important;
	}
	.page-template-page-with-right-sidebar .custom-page-constrained{
		margin-top: 5px !important;
	}
	.custom-background{
		padding: 11px 10px !important;
	}
	.travelero-padding .has-global-padding, .single-itineraries .travelero-padding{
		padding: 0px !important;
	}

	header .alignwide{
		margin: 0px 0 0 0 !important;
		padding: 10px 20px !important;
	}
	header .wp-block-social-links{
		display:none;
	}

	.booking-step-col-2 {
		margin-top: -13px !important;
	}
}


.swiper-button-prev, .swiper-button-next{
   z-index:8;
}

.hero-slider{
	position: relative;
}

.search-bar{
	position:absolute;
	    z-index: 1;
    width: 100% !important;
    bottom: 0px;

}

@media only screen and (max-width: 700px){
	.search-bar{
		position:relative;
	}
}


/* blog post */
@media only screen and (max-width: 1026px){

	.travelaero-front-blog ul{
	    display: grid;
     grid-template-columns: repeat(auto-fill, minmax(295px, 1fr)) !important;
       gap: 2em;
     }

}


@media only screen and (max-width: 1345px){
	.travelero-align{
		margin: auto 20px;
	}
}

.comment-subscription-form{
	float: left;
    width: 100%;
}

.wp-tab-review-inner-wrapper .commentlist li .reply a{
	color:  var(--wp--preset--color--primary) !important;
}

.wp-block-button.custom-button .wp-block-button__link, #wp-travel-one-page-checkout-enables .components-button {
	box-shadow:none;
	background-color:#476075AD;
    border-width: 0;
    color: var(--wp--preset--color--bright);
    font-family: inherit;
    font-size: var(--wp--preset--font-size--small);
    font-weight: 700;
    line-height: inherit;
    padding: calc(0.667em + 2px) calc(1.333em + 2px);
    text-decoration: none;
	border-radius: 10px;
}
.wp-block-button.custom-button .wp-block-button__link:hover,#wp-travel-one-page-checkout-enables .components-button:hover {
	background:var(--wp--preset--color--primary) !important;
}

/* popular tags */
.wp-block-tag-cloud a {
	background: #476075ad;
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    margin: 5px;
	border-radius: 10px;
}

/* categories adnd tags */
.wp-block-categories-list{
	list-style:none;
}
.taxonomy-category.wp-block-post-terms a, .taxonomy-post_tag.wp-block-post-terms a {
	background: #476075ad;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
	margin: 10px 20px 10px 0px;
	line-height: 55px;
	border-radius: 10px;
}

.wp-block-tag-cloud a:hover , .taxonomy-category.wp-block-post-terms a:hover, .taxonomy-post_tag.wp-block-post-terms a:hover{
	background:var(--wp--preset--color--primary) !important;
	 color:#eee !important;
}

.wp-block-post-terms .wp-block-post-terms__separator {
    display: none;
}
.wp-block-categories li{
	position: relative;
	padding: 10px 10px;
    margin: 10px 0;
	background: #476075ad;
	border-radius: 10px;
	cursor:pointer;
}
.wp-block-categories li a:after{
	 font-family: "Font Awesome 5 Free";
	content: "\f105";
    position: absolute;
    top: 25px;
    right: 10px;
    font-size: 20px;
    color: #fff;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

  .wp-social-link-wordpress.has-secondary-color.wp-block-social-link a:hover{
	color: var(--wp--preset--color-secondary) !important;
  }
