/*
 * Navigation
 */

.current-menu-item a.wp-block-navigation-item__content, .current-menu-ancestor, .current-menu-ancestor .wp-block-navigation__submenu-icon{
	color: var(--wp--preset--color--primary) !important;
}
.wp-block-navigation-link.current-menu-item a:focus span{
	color:var(--wp--preset--color--primary) !important;
}
.wp-block-navigation-link a:hover{
	color:var(--wp--preset--color--primary) !important;
}
.wp-block-navigation-link.current-menu-item a::after, .wp-block-navigation-link a:hover::after {
    content: '';
    position: absolute;
    background: var(--wp--preset--color--tertiary);
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
   animation: scale 1s ease-in-out forwards; /* Apply the 'scale' animation with the desired timing function */
}

@keyframes scale {
    0% {
        width: 0;
    }
    100% {
        width: 100%; /* End with 100% width */
    }
}

.wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open{
	  backdrop-filter: blur(19px);
    z-index: 9999;
    background: linear-gradient(163deg, rgb(7 56 91 / 78%) 0%, rgb(0 0 0 / 60%) 53%, rgb(19 24 26 / 49%) 100%);
    color: #000;
    left: 0;
    max-width: 100%;
    position: fixed;
    top: -100px;
	height:100vh;
}
.wp-block-navigation__responsive-container-close {
	color: #fff;
	    right: 10px;
    top: 10px;
}
.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item{
	color: #fff !important;
}

.wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container li {
	padding: 6px;
}
.wp-block-navigation .has-child .wp-block-navigation-submenu__toggle[aria-expanded=true]~.wp-block-navigation__submenu-container{
	min-width: 207px;
}
.wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container {
    border: 1px solid rgba(0,0,0,.15);
   padding: 10px;
}

.wp-block-navigation-submenu .wp-block-navigation-item:not(last-child) {
    border-bottom: 1px solid #6b686857;
}
